<!DOCTYPE html>
<link href="/stylesheets/index.css" rel='stylesheet'/>
<div class="nav_out">
  <div class="nav">
    <ul>
      <li class="nav_logo" name="nav_logo">
	<a href="/">
	  <img src="/images/logo.png" alt='王的世界'></img>
	</a>
      </li>
      <li>Home</li>
      <li>Hadoop</li>
      <li>Hive</li>
      <li>Hbase</li>
      <li>Android</li>
      <li>Java</li>
      <li><a href="javascript:alert('王的世界')">About</a></li>
    </ul>
  </div>
</div>
