<html>
  <head>
    <title><%= title %></title>
    <style>
      *{margin:0;padding:0;text-decoration:none;}
      body{padding-top:110px;background:url('/images/bg.png') repeat;}
    </style>
  </head>
  <body>
    <%- partial('header') %>
    <div style="padding-left:150px;">
      <%- body %>
    </div>
  </body>	
</html>
